{{!Philip Chang - Week 9 - Database interactions and UI - home}}
<form method = "get" id = "exercise" action = "/insert">
<fieldset>
<legend>Enter your workout</legend>
<table>
<tr><td>Name of the exercise:</td> <td><input type = "text" name = "name" id = "name" placeholder = "Type exercise name here" ></td></tr>
<tr><td>Number of Reps:       </td><td><input type = "number" name = "reps" id = "reps" min = "1" placeholder = "Enter the number of reps" ></td></tr>
<tr><td>Weight:               </td><td><input type = "number" name = "weight" id = "weight" min = "0" placeholder = "Input Weight Here then indicate if it is lbs or kg" ></td></tr>
<tr><td>Date:                 </td><td><input type = "date" name = "date" id = "date"></td></tr>
<tr><td>lbs (1 for lbs, 0 for kgs):                 </td> <td><input type = "number" name = "lbs" id = "lbs" min = "0" max ="1" ></td></tr>
<tr><td><input type = "submit" name = "add" id = "add" value = "Add Exercise"></td></tr>
</table>
</fieldset>
</form>
<fieldset = "excerciseTable">
  <table id = "stuff" border = 1px>
    <thead>
      <th>Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Date</th>
      <th>lbs/kgs (lbs = 1, kgs = 0)</th>
      <th>Update</th>
      <th>Delete</th>
    </thead>
    <tbody id = "table">
      {{#each results}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.reps}}</td>
          <td>{{this.weight}}</td>
          <td>{{this.date}}</td>
          <td>{{this.lbs}}</td>
          <td>
            <form method = "get" action = "./edit"><input type = "hidden" name = "id" value = {{this.id}}>
              <button type = "submit">Edit </button></form>
          </td>
          <td><form method = "get" action = "./delete"><input type="hidden" name="id"  value = {{this.id}}><input type = "button" id = "delete" value = "Delete" onClick = "deleteRow({{this.id}})"></form>
          </td>
        </tr>
            {{/each}}
        </tbody>
    </table>
</fieldset>
